<h2 class="page-header">Search Book: </h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="">Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="">Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label for="">Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    <div class="page-header"> Results: </div>
</form>

<div class="books-by-author">
    <% books.forEach( book => { %>
    <div class="each-author-book"><a href="/books/<%= book.id %>">
            <img id="img" src="<%= book.coverImagePath %>" style="height:250px;">
        </a>
        <div class="book-title"><%= book.title %></div>
    </div>
    <% }) %>
</div>