<h2><%= book.title %></h2>
<img src="<%= book.coverImagePath %>" height="125" width="125" >
<div>Author: <%= book.author.name %> </div>
<div>Publised: <%= book.publishDate.toDateString() %> </div>
<div>Pagecount: <%= book.pageCount %> </div>
<div>Description: <%= book.description %> </div>

<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
<a href="/author/<% book.author.id %>">View Author</a>
